.searchbar {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 5px;
    background-color: #e48050;
    width: 100%;
    height: 20vh;
    
}

.searchbar input {
    box-shadow: none;
    border-bottom-left-radius: 999px;
    border-top-left-radius: 999px;
    border: 1px solid #b85e37;
    height: 2rem;
    padding: 5px 10px;
}

.searchbar button {
    border-bottom-right-radius: 999px;
    border-top-right-radius: 999px;
    border: 1px solid #b85e37;
    background-color: #e96e50;
    color: white;
    height: 2rem;
    width: 6rem;
}